@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;

}
#navbar img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#navbar img:hover{
    width: 60px;
    height: 60px;
    
}
#navbar{
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 8px 80px;
    box-shadow: 5px 5px 20px rgba(0, 0,0, 5);
    background: linear-gradient(to left, #1e2220, #254f38, #30804a, #49b354, #86f26b);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.navbar .navbar-brand{ 
    font-size: 30px;
    font-weight: 800;
    color: #000801!important;
    transition: 2S;
}

.navbar .navbar-brand:hover{ 
    font-size: 30px;
    font-weight: 800;
    color: #ffffff!important;
    transition: 1S;
}

#navbarSupportedContent a{
    color: #ffffff;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
#navbarSupportedContent a:hover{
    /* border-bottom: 2px solid #a6f35d; */
    font-size: 22px;
    color: #8ff86f;
    font-family: "Spicy Rice", serif;
    
}
#navbarSupportedContent button{
    width: 80px;
    background-color: #fdfefd;
    font-weight: 600;
    border: 30px;
    border-top-right-radius: 0px;
    transition:0.5s;
}
#navbarSupportedContent button:hover{
   color: #553636;
   background-color: #8ff86f;
   font-weight: 600;
   border-top-right-radius: 10px;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
#home{
    background-image: url(./images/slider1_1.jpg);
    background-position: center;
    background-size: cover;
}
#home h1{
    display: block;
    color: #fff;
    cursor: pointer;
    font-family: "Spicy Rice", serif;
    font-size: 90px;
    letter-spacing: 2.9px;
    transition: 1s;
    text-shadow: 0px 1px 0px #000000,
                 0px 2px 0px #000000;
           
                 

}
#home h1:hover{
    color: #8ff86f;
    cursor: pointer;
    font-family: "Spicy Rice", serif;
    font-size: 70px;
    
    transition: ease-in 0.8s;
}



/* about */

#about{
    background-color: #ffffff;
    position: relative;
    margin-left: 0%;
  
    
    
}
#about img{
    width: 380px;
    height: 450px;
    margin-top:18%;
    margin-left: 20%;
    border-radius: 25px;
    
   
    
}



#about h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
}

#about p{
    font-family:"Monospace",sans-serif;
    line-height: 30px;
    font-weight: 300;
    color: #626361;
}


/*****Products********/
#product {
    background: #e5e5e5;
}
.pSub:hover{
   border-bottom: solid #26e319;
}
#product h1{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    margin-top: 80px;

}
#product img{
    width: 150px;
    height: 150px;

}
.card{
    position: relative;
    width: 14%;
    height: 50px;
    background: #e5e5e5 ;
    border: none ;
    box-shadow: 15px 20px 20px rgba(0,0,0,0.3),
                inset 4px 4px 10px #ffff;
    border-radius: 20px ;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 30px 40px;
    transition: 0.2s;
}

.row-cols-4>* {
    flex: 0 0 auto;
    width: 5%;
}

.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3),
                inset -4px -4px 10px #ffff;
    transition: 0.2s;

}
#product a{
    background: #5ccd39;
    color: #ffffff;
    font-weight: 600;
    transition: ease 0.5s;
    border: 1px solid rgb(126, 125, 125);
}

#product a:hover{
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    font-size: small;
    transition: ease 0.5s;
}

/* contact  */

#contact img{
    width: 500px;
    height: 100%;
}
.contact-img{
    margin-top: 80px;
    
}
.box{
     width: 80%;
     margin-top: 10px;

}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
    border-color:  #3beb05;
    
}
#contact textarea{
    margin: 10px 0px;
    height: 125px;
    border-color:  #4eee1d;
}



#contact button{
    width: 100px;
    border: 30px;
    font-weight: 600;
    margin: 10px 0px;
    background: #5ccd39;
    color: #000000;
    transition: 0.8s;
}
#contact button:hover{
    box-shadow: 5px 10px 15px rgb(107, 236, 122);
    color: #ffffff;
   
}

.price{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: #252525;

}

.row  ul li:hover{
    color: #198755;
    text-shadow: 0px 0px 1px #26e319; 
}
ul li i:hover {
    color: #198754; 
    text-shadow: 0px 0px 5px #26e319; 
  }

@media only screen and (max-width: 880px) {

    #about img{
        width: 280px;
        height: 380px;
        margin-top: 20%;
        margin-left: 100px;
        margin-bottom: 50px;
        
 }

    .navbar-toggler:focus,
    .navbar-toggler:active {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important; /* This removes any shadow */

 
        
}
}
@media only screen and (max-width: 992px) {

    #navbarSupportedContent a:hover{
        border-bottom: 2px solid #ffffff;
        font-size: 22px;
        color: #111111;
        font-family: "Spicy Rice", serif;
        
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important; /* This removes any shadow */



}
}


@media (max-width: 467px) {

    #about img{
        width: 250px;
        height: 350px;
        margin-left: 100px;
        
        
      
        }

}

@media (max-width: 432px) {

    #about img{
        width: 230px;
        height: 330px;
        margin-left: 100px;
        
        
      
        }

        

}
@media (max-width: 382px) {

    #about img{
        width: 200px;
        height: 300px;
        margin-left: 80px;
        
        
      
        }
        

}

@media (max-width: 342px) {

    #about img{
        width: 190px;
        height: 280px;
        margin-left: 70px;
        
    }
    #home h1{
        font-size: 60px;
        transition: 1s;
    }
    #home h1:hover{
        font-size: 50px;
        transition: 0.8s;
    }


}

/* Navbar section  */
@media (max-width: 320px) {
    #navbar {
        padding: 8px 20px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #navbar img {
        width: 50px; /* Reduce size for smaller screens */
        height: 50px;
    }

    .navbar .navbar-brand {
        font-size: 18px; /* Reduce font size for brand text */
    }

    #navbarSupportedContent button {
        width: 60px; /* Reduce button width */
        padding: 5px; /* Adjust padding for button */
        font-size: 12px; /* Smaller font size for button */
    }
}



/* navbar section 375px */
@media (max-width:376px) {
    #navbar {
        padding: 8px 20px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #navbar img {
        width: 50px; /* Reduce size for smaller screens */
        height: 50px;
    }

    .navbar .navbar-brand {
        font-size: 20px; /* Reduce font size for brand text */
    }

    #navbarSupportedContent button {
        width: 60px; /* Reduce button width */
        padding: 5px; /* Adjust padding for button */
        font-size: 12px; /* Smaller font size for button */
    }
}

@media(max-width:426px){
    #navbar{
        padding: 8px 20px;

    }
    .navbar-toggler{
        width: 40px;
        height: 30px;
        border: none !important;
        outline: none !important;
    }
    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: rgb(46, 138, 46) !important;
        background-color: transparent;
        border: none !important;
        outline: none !important;
        
    }
    .navbar-toggler-icon{
        width: 23px !important;
        height: 23px !important;
    } 
    
    .navbar-toggler:focus,
    .navbar-toggler:active {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important; /* This removes any shadow */
}
}





@media (max-width: 303px) {

    #about img{
        width: 170px;
        height: 250px;
        margin-left: 50px;
        
    }
}

@media (max-width: 270px) {

    #about img{
        width: 170px;
        height: 250px;
        margin-left: 40px;
        
    }

    .navbar .navbar-brand{ 
        font-size: 20px;
        font-weight: 800;
        color: #000801!important;
        transition: 2S;
    }
    .navbar .navbar-brand:hover{ 
        font-size: 20px;
        font-weight: 800;
        color: #ffffff!important;
        transition: 2S;
    }
    .row  ul li{
        font-size: 12px;
        color: #6c757d;
        
    }
}

@media (max-width: 236px){

    #about img{
        width: 140px;
        height: 200px;
        margin-left: 30px;
        
    }
    #home h1{
        font-size: 40px;
        transition: 1s;
    }
    #home h1:hover{
        font-size: 30px;
        transition: 0.8s;
    }
    #product h1{
        font-size: 30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 800;
        margin-top: 80px;
    
    }

    .navbar .navbar-brand{ 
        font-size: 15px;
        font-weight: 800;
        color: #000801!important;
        transition: 2S;
    }
    .navbar .navbar-brand:hover{ 
        font-size: 15px;
        font-weight: 800;
        color: #ffffff!important;
        transition: 2S;
    }

    

}






/* @media only screen and (max-width: 992px){

    #navbarSupportedContent a:hover{
        border-bottom: 2px solid #ffffff;
        font-size: 22px;
        color: #111111;
        font-family: "Spicy Rice", serif;
        
    }

   

  
    
} */




